@import "mixins.styl"

.console-view-wrappper
    &.false
        display none
    &.true
        display block

.console-wrapper
    .console-action-wrapper.action-wrapper
        bottom 2em
    .console
        background-color #000;
        padding 0.5em 0.5em 1em;
        text-align left;
        height 70%;
        overflow-y scroll;
        overflow-x hidden;
        &.false
            display none
        ul
            li
                list-style-type none
                font-size: 1.2em
                padding: 0.1em 0
                &.warning
                    color $warning
                &.alert, &.error
                    color $alert
                &.success
                    color $sucess
                &.info
                    color $info
                .blink
                    display block
                    background-color white
                    width 1em
                    height 0.1em
                    margin-top 1em
                    visibility visible
                    animation blink-animation 1s steps(5, start) infinite
                    -webkit-animation blink-animation 1s steps(5, start) infinite
                .timestamp
                    display: inline-block
                    min-width: 4em

@keyframes blink-animation {
  to {
    visibility hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility hidden;
  }
}