@import 'mixins.styl'
.content.map-wrapper
    height calc(100% - 10rem)
    .canvas-wrapper
        width 100%
        height 100%
    .loading.true
        display none
    .showConsole
        position absolute
        top 2em
        right 4em
    .showPicture
        position absolute
        top 4em
        right 4em
    .loading
        margin-top: 2em
    #mapCanvas
        border: 1px solid #999