.modal-wrapper
    position fixed
    z-index 1
    top: 0 
    left: 0
    bottom: 0
    right: 0
    .overlay-modal
        position fixed
        z-index 8
        top: 0 
        left: 0
        bottom: 0
        right 0
        background-color: rgba(153,153,153,0.8)
        cursor pointer
    .modal-box
        position: fixed
        top: 20vh
        left: 20vw
        z-index: 9
        height: 60vh
        width: 60vw
        background-color: $mainBackgroundColor
        border-radius: 25px
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75)
        padding 2em
        cursor default
        .modal-title
            font-size: 2em
            margin-bottom: 2em
        .close
            position absolute
            top 1em
            right 1em
            width 3em
            height auto
            cursor pointer
    .loading
        top 30%
