@import "mixins.styl"
.statPanel
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content flex-start
    align-content stretch
    align-items flex-start

    /*Styles for all stats block*/
    .statBlockDisplay
        flex 1 1 auto
        align-self auto
        flex-basis 23%
        padding 1.5em 0.5em
        background-color $altBackgroundColor
        text-align center
        min-height 127px
        position relative
        overflow hidden
        padding-bottom 0.5em
        margin 1em
        &:before
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: -webkit-linear-gradient(170deg, rgba(255,255,255,0.3), transparent 75%);
            background: linear-gradient(170deg, rgba(255,255,255,0.3), transparent 75%);
            -webkit-transform: skew(-10deg) translateX(50%);
            transform: skew(-26deg) translateX(-90%);
            
            opacity: 0.2;
        &:nth-child(odd)
            &:before
                transform: skew(-26deg) translateX(90%);
        .statDisplayTitle
            font-size 1.5em
            margin-bottom 0.7em
        .statDisplayValue
            font-size 2em
            font-weight 700
            color $popColor
            .statMesure
                font-size 1rem
                margin-left 0.2rem
                color $altFontColor
        .action-wrapper
            display flex
            flex-direction row
            flex-wrap wrap
            justify-content flex-en
            align-content stretch
            align-items flex-start
            height 1em
            position absolute
            bottom 1em
            right 1.5em
            &>img
                cursor pointer
                height 100%
                

        
        /*Style for specific types of statblocs*/
        &.boolDisplay
            .statDisplayValue
                display inline-block
                width 30px
                height 30px
                background-color red
                border-radius 50%
                &.true
                    background-color green
    .chartwrapper
        .loading
            position absolute
            bottom calc(50% - 22px)
            left calc(50% - 22px)
        canvas
            max-width 800px
            width 100% !important
            height auto !important
            max-height calc(60vh - 10em) !important
        .action-wrapper
            flex-direction column
            align-items center
            bottom 1em
            height 2em
            .resetToLive
                width 100%

@media (max-width 1080px)
    .statPanel 
        .statBlockDisplay 
            flex 1 1 auto
            align-self auto
