###########  Environnement  ###############
#Hauteur maximunm du robot au dela de cette hauteur les points seront ignoree 170.0
HAUTEUR_MAX 170.0

#Hauteur minimum pour être considérée par le robot                              -5.0
HAUTEUR_MIN -5.0

#Endroit ou l'on retrouve l'environnement
FICHIER_DE_LA_CARTE Carte.txt

###########  Kinect  ###############
#Hauteur du capteur                                                             215.0
HAUTEUR_KINECT 215.0

#Offet du capteur                                                               100.0
OFFSET_KINECT 100.0

#Far clipping plan
FAR_CLIPPING 4500

#Near clipping plan
NEAR_CLIPPING 570

#Angle de vision sur la vertical
VERTICAL_FOV 46.6

#Angle de vision sur l'horizontale
HORIZONTAL_FOV 58.5

###########  Robot  ###############
#Largeur du robot
LARGEUR_ROBOT 340.0

#Longeur du robot
LONGEUR_ROBOT 320.0

#Hauteur du robot
HAUTEUR_ROBOT 120.0

###########  Convertisseur  ###############
#Distance maximum entre point pour qu'il soit considerer connecté
TRESHOLD_BETWEEN_POINT 100.0

#eitquette pour enlever ou nom le bruit 1:true otherwise: false
ENLEVE_BRUIT_DU_CLUSTER 1

#nombre de point minimum pour faire considérer un obstacle
MIN_NUMBER_OF_POINT 200

#Endroit ou seront sauvegarder les points a convertir
FICHIER_DE_POINT Points.txt

#Distance entre un point et le segment pour le separer
DISTANCE_POUR_LE_SECTIONNEMENT 120.0

#Nombre de point utilisé pour definir les extrimités du mesh
NOMBRE_DE_POINT_POUR_LES_VERTICES_DU_MESH 50
