#Hauteur maximunm du robot au dela de cette hauteur les points seront ignoree 25.0
HAUTEUR_MAX 25000.0

#Hauteur minimum pour être considérée par le robot -160.0
HAUTEUR_MIN -16000.0

#Hauteur du capteur (kinect) 50.0
HAUTEUR_KINECT 175.0

#Offet du capteur (kinect)
OFFSET_KINECT 100.0

#Far clipping plan
FAR_CLIPPING 5000

#Near clipping plan
NEAR_CLIPPING 570

#Angle de vision de la kinect sur la vertical
VERTICAL_FOV 46.6

#Angle de vision de la kinect sur l'horizontale
HORIZONTAL_FOV 58.5

#Largeur du robot
LARGEUR_ROBOT 400.0

#Longeur du robot
LONGEUR_ROBOT 400.0

#Hauteur du robot
HAUTEUR_ROBOT 200.0
